apiVersion: v1
kind: Service
metadata:
  name: argocd-server
  namespace: argocd
  labels:
    app: argocd-server
spec:
  type: NodePort   # change to LoadBalancer if using cloud provider
  ports:
    - name: http
      port: 80
      targetPort: 8080
      nodePort: 30080   # optional, for NodePort
  selector:
    app: argocd-server