apiVersion: v1
kind: Service
metadata:
  name: argocd-server
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-server
spec:
  type: LoadBalancer
  ports:
    - name: https
      port: 443
      targetPort: 2000
      protocol: TCP
  selector:
    app.kubernetes.io/name: argocd-server
